@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f6eee3;
}

* {
  /* border: 1px solid red; */
}

@keyframes subtle-pulse {
  0%,
  100% {
    border-color: rgba(255, 50, 94, 0.7);
  } /* Tailwind's green-400 */
  50% {
    border-color: rgba(34, 197, 94, 0.4);
  }
}
.animate-subtle-pulse {
  animation: subtle-pulse 2s ease-in-out infinite;
}

@keyframes gamestate-transition {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }

  40% {
    opacity: 1;
    transform: translateX(0%);
  }

  50% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.animate-gamestate-transition {
  animation: gamestate-transition 6s ease-in-out;
}
/* .animate-gamestate-slide-in {
  animation: gamestate-transition 2s ease-in-out;
} */

@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.animate-gradient-border {
  background-size: 200% 200%;
  animation: gradient-border 3s linear infinite;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.animate-flash {
  animation: flash 1s ease-in-out infinite;
}

@keyframes gradient-shine {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 0% 25%;
  }
}

.animate-gradient-shine {
  background-size: 200% 200%;
  /* animation: spin 10s linear infinite; */
  animation: gradient-shine 10s linear infinite;
}
