@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f6eee3;
}

* {
  /* border: 1px solid red; */
}

@keyframes gradient-shine {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 0% 25%;
  }
}

.animate-gradient-shine {
  background-size: 200% 200%;
  animation: spin 10s linear infinite;
  /* animation: gradient-shine 10s linear infinite; */
}
